<nav class="navbar navbar-expand-lg bg-light shadow">
    <div class="container row text-center justify-content-evenly align-items-center">
         
        
        

            <div class="col-4 col-sm-6 col-md-6 p-2">
                <a routerLink="products" class="navbar-brand"><i class="fa-brands fa-amazon" style="font-size: xx-large;"></i>&ensp;<span class="text-dark h6">mazon</span></a>
            
            </div>

            <div class="col-12 col-md-6 mt-2 ms-5 d-flex justify-content-evenly justify-content-center ">
                <input type="text" placeholder="Search products..." class="form-control me-4">
                <button class="btn text-dark" routerLink="cart"><i class="fa-solid fa-cart-plus"></i>{{cartCount}}</button>
            </div>
        </div>

       
    
</nav>


<!-- <div class="d-flex justify-content-evenly">
    <a href="" class="navbar-brand"> <i class="fa-solid fa-truck-fast" style="font-size: x-large;"></i><span class="ms-2">Flipkart</span></a>
    
    <div class="navbar-nav">
        <input type="text" placeholder="Search products..." class="form-control">
    </div>

    <button class="btn btn-dark"><i class="fa-solid fa-cart-plus"></i><span class="ms-2">5</span></button>
       -->